/**
 * Media Queries CSS
******************************************/

 /* Make Responsive */
#container{
	max-width: 100%;
}
 
/* === #00 - VIEWPORT FIX === 
 * Does the same thing as <meta name="viewport" content="width=device-width">
 * for Windows 8 "Snapped" views in IE10+
 * @link http://core.trac.wordpress.org/ticket/25888
 * @link http://blog.teamtreehouse.com/thinking-ahead-css-device-adaptation-with-viewport
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
/* === BASE MEDIA QUERIES === */
@media screen and (max-width: 700px){

	#header{
		position: fixed;
		top: 0;
		background: #000;
	}
	body.wordpress{
		background: #fff !important;
	}
	#container{
	}
	#main{
		margin: 0;
		padding-top: 47px;
		padding-bottom: 45px;
		width: 100%;
	}
	.page-navigation{
		position: fixed;
		bottom: 0;
	}
	#comments{
		padding-top: 70px;
	}
	.plural .content-entry-wrap .entry:last-child .entry-wrap{
		border-bottom: 1px solid #ccc;
	}
}
/* === BYLINE === */
@media screen and (max-width: 600px){
	.entry-title-wrap{
		width:100%;
	}
	.entry-byline{
		padding-left: 60px;
		padding-left: 6rem;
	}
	.entry-byline .comments-link{
		display: inline;
	}
	.entry-byline .comments-link:empty{
		display: none;
	}
	body.plural .entry-byline .entry-published:before{
		display: none;
	}
}
/* === ADMIN BAR FIX === */
@media screen and ( max-width: 782px ) {
	body.admin-bar #header{
		position: fixed;
		top: 46px;
	}
}
@media screen and (max-width: 600px) {
	body.admin-bar #header{
		position: absolute;
		top: 46px;
	}
}

/* === COMMENTS === */
@media screen and (max-width: 700px) {
	#respond .comment-form-author,
	#respond .comment-form-email,
	#respond .comment-form-url{
		width: 100%;
		margin-right: 0;
		float: none;
	}
	#respond #submit{
		float: none;
	}
}
