/*****************************************
 *
 * TABLE OF CONTENTS:
 * 
 * #01 - RESET
 * #02 - ELEMENTS
 * #03 - IMAGES & MEDIA
 * #04 - CONTAINER
 * #05 - HEADER
 * #06 - MENUS
 * #07 - MAIN
 * #08 - CONTENT
 * #09 - LOOP META
 * #10 - ENTRY
 * #11 - LOOP NAV
 * #12 - COMMENTS
 * #13 - LOOP PAGINATION
 * #14 - WIDGETS
 * #15 - FOOTER
 * 
 *****************************************/

/* === #01 - RESET === */


/* === #02 - ELEMENTS === */
body{
	font-size: 14px;
	font-size: 1.4rem;
}
/* Default Background */
body.wordpress{
	background: #e6e6e6;
}
a{
	color: #21759B;
}
a:hover,
a:focus {
	color: #444;
}
ul{
	list-style: circle;
}
/* Blockquotes */
blockquote, q{
	position: relative;
	padding: 0 0 0 20px;
	padding: 0 0 0 2rem;
}
blockquote:before,
q:before{
	content: "\f122";
	font-family: "dashicons";
	color: #ccc;
	position: absolute;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
/* Forms */
label{
}
/* Pre, Code */
pre{
	background-color: #eee;
}
code{
	background: #eee;
}

/* === #03 - IMAGES & MEDIA === */


/* === #04 - CONTAINER === */
#container{
	background: transparent;
	width: 100%;
	margin: 0 auto;
	margin: 0 auto;
	padding: 0;
}

/* === #05 - HEADER === */
#header{
	background: rgba( 0,0,0,0.7 );
	padding: 10px 20px;
	padding: 1rem 2rem;
	margin-bottom: 0;
	width: 100%;
	z-index: 100;
}
#header:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	#branding{
		float: left;
	}
		#site-title{
			font-size: 25px;
			font-size: 2.5rem;
			line-height: 1;
			margin-bottom: 2px;
		}
			#site-title a{
				font-weight: 800;
				color: #fff;
				border: none;
				text-shadow:
					-1px -1px 0 #2B2B2B,
					1px -1px 0 #2B2B2B,
					-1px 1px 0 #2B2B2B,
					1px 1px 0 #2B2B2B;
			}
			#site-title a:hover,
			#site-title a:focus{
				opacity: 0.8;
			}


/* === #07 - MAIN === */
#main{
	margin: 50px auto;
	width: 650px;
	background: #fff;
}
#main:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.main-wrap:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}

/* === #08 - CONTENT === */
#content{
	width: 100%;
}

/* === #09 - LOOP META === */
.loop-meta{
	background: #21759B;
	color: #fff;
	padding: 10px;
	padding: 1rem;
}
	.loop-title{
		margin: 0;
		font-size: 20px;
		font-size: 2rem;
	}
	.loop-title:before{
		content: "\f464";
		font-family: "dashicons";
		vertical-align: top;
		margin-right: 5px;
		margin-right: 0.5rem;
		color: #fff;
		-webkit-font-smoothing: antialiased;
	}
	body.taxonomy-category .loop-title:before{
		content: "\f318";
	}
	body.taxonomy-post_tag .loop-title:before{
		content: "\f323";
	}
	body.search .loop-title:before{
		content: "\f179";
	}

/* === #10 - ENTRY === */
.entry{
}
.entry:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
/* Password Protected */
.entry.protected{
	
}
.entry.protected .entry-title-wrap{
	width: 100%;
}
.entry.protected .entry-byline{
	display: none;
}
/* Entry Wrap */
.entry-wrap{
	margin: 0 10px;
	margin: 0 1rem;
	padding: 10px;
	padding: 1rem;
	background: #fff;
	border-bottom: 1px solid #ccc;
}
.plural .content-entry-wrap .entry:last-child .entry-wrap{
	border: none;
}
.entry-wrap:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
body.singular .content-entry-wrap .entry-wrap{
	border: none;
}

	/* Entry Header */
	.entry-header{
		position: inherit;
	}
	body.singular .entry-header{
		padding: 10px 0;
		padding: 1rem 0;
		margin-bottom: 20px;
		margin-bottom: 2rem;
		border-bottom: 1px solid #ccc;
	}
		/* Entry Title */
		.entry-title-wrap:before{
			content: "\f497";
			font-family: "dashicons";
			vertical-align: top;
			color: #222;
			font-size: 50px;
			font-size: 5rem;
			position: absolute;
			left: 0;
			top: 10px;
			top: 1rem;
			-webkit-font-smoothing: antialiased;
		}
		/* Page CPT */
		.entry.page .entry-title-wrap:before{
			content: "\f105";
		}
		/* Post Format */
		.entry.format-aside .entry-title-wrap:before{
			content: "\f123";
			color: #fff600;
			text-shadow:
				-1px -1px 0 #2B2B2B,
				1px -1px 0 #2B2B2B,
				-1px 1px 0 #2B2B2B,
				1px 1px 0 #2B2B2B;
		}
		.entry.format-image .entry-title-wrap:before{
			content: "\f128";
			color: #56ad00;
		}
		.entry.format-gallery .entry-title-wrap:before{
			content: "\f161";
			color: #4b9302;
		}
		.entry.format-link .entry-title-wrap:before{
			content: "\f103";
			color: #a0a0a0;
			text-shadow:
				-1px -1px 0 #2B2B2B,
				1px -1px 0 #2B2B2B,
				-1px 1px 0 #2B2B2B,
				1px 1px 0 #2B2B2B;
		}
		.entry.format-quote .entry-title-wrap:before{
			content: "\f122";
			color: #ff0000;
			text-shadow:
				-1px -1px 0 #2B2B2B,
				1px -1px 0 #2B2B2B,
				-1px 1px 0 #2B2B2B,
				1px 1px 0 #2B2B2B;
		}
		.entry.format-status .entry-title-wrap:before{
			content: "\f130";
			color: #ce3da5;
			text-shadow:
				-1px -1px 0 #2B2B2B,
				1px -1px 0 #2B2B2B,
				-1px 1px 0 #2B2B2B,
				1px 1px 0 #2B2B2B;
		}
		.entry.format-video .entry-title-wrap:before{
			content: "\f126";
			color: #af2a2c;
		}
		.entry.format-audio .entry-title-wrap:before{
			content: "\f127";
			color: #f4f430;
			text-shadow:
				-1px -1px 0 #2B2B2B,
				1px -1px 0 #2B2B2B,
				-1px 1px 0 #2B2B2B,
				1px 1px 0 #2B2B2B;
		}
		.entry.format-chat .entry-title-wrap:before{
			content: "\f125";
			color: #3d81ce;
			text-shadow:
				-1px -1px 0 #2B2B2B,
				1px -1px 0 #2B2B2B,
				-1px 1px 0 #2B2B2B,
				1px 1px 0 #2B2B2B;
		}
		/* Protected: Key */
		.entry.protected .entry-title-wrap:before{
			content: "\f112";
			color: #edc100;
			text-shadow:
				-1px -1px 0 #2B2B2B,
				1px -1px 0 #2B2B2B,
				-1px 1px 0 #2B2B2B,
				1px 1px 0 #2B2B2B;
		}
		.entry-title-wrap{
			width:65%;
			padding-left: 60px;
			padding-left: 6rem;
			float: left;
			position: relative;
		}
			.entry-title{
				margin: 0;
				font-size: 17px;
				font-size: 1.7rem;
			}
			.entry-type{
				
			}
		/* Byline */
		.entry-byline{
			color: #444;
			float: left;
			padding-left: 10px;
			padding-left: 1rem;
		}
			.entry-byline a{
				color: #444;
			}
			.entry-byline a:hover,
			.entry-byline a:focus{
				color: #000;
			}
			.entry-author:before{
				content: "\f110";
				font-family: "dashicons";
				vertical-align: top;
				margin-right: 5px;
				margin-right: 0.5rem;
				color: #ccc;
				-webkit-font-smoothing: antialiased;
			}
			.entry-published:before{
				content: "\f469";
				font-family: "dashicons";
				vertical-align: top;
				margin-right: 5px;
				margin-right: 0.5rem;
				color: #ccc;
				-webkit-font-smoothing: antialiased;
			}
			.comments-link{
				display: block;
			}
			.comments-link:empty{
				display: none;
			}
			.comments-link:before{
				content: "\f101";
				font-family: "dashicons";
				vertical-align: middle;
				margin-right: 5px;
				margin-right: 0.5rem;
				color: #ccc;
				-webkit-font-smoothing: antialiased;
			}
/* Entry Content, Entry Summary */
	.entry-content,
	.entry-summary{
	}
	.entry-content{
	}
	.entry-summary{
	}
	.entry-summary:after,
	.entry-content:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		/* Thumbnail */
		.entry-summary .theme-thumbnail{
			float: right;
			margin: 0 0 20px 20px;
			margin: 0 0 2rem 2rem;
			border: 1px solid #ccc;
			padding: 10px;
			padding: 1rem;
		}
		/* More link */
		.more-link-wrap{
			display: block;
		}
		p .more-link-wrap{
			margin-top: 20px;
			margin-top: 2rem;
		}
		.more-link{
			display: inline-block;
			margin-bottom: 20px;
			margin-bottom: 2rem;
			border: 1px solid #ccc;
			padding: 4px 10px;
			padding: 0.4rem 1rem;
		}
		p .more-link{
			margin-bottom: 0;
		}
		.more-text:after{
			content: "\f345";
			font-family: "dashicons";
			vertical-align: top;
			margin-left: 10px;
			margin-left: 1rem;
			-webkit-font-smoothing: antialiased;
		}
		/* Page links */
		.wp-link-pages{
		}
		.wp-link-pages .page-numbers,
		.wp-link-pages a{
			color: #ccc;
			padding: 5px 10px;
			padding: 0.5rem 1rem;
			border: 1px solid #eee;
		}
		.wp-link-pages a{
			color: #444;
			border: 1px solid #ccc;
		}
		.wp-link-pages a:hover,
		.wp-link-pages a:focus{
			border: 1px solid #aaa;
		}
/* Entry Footer */
	.entry-footer{
	}
		.post-edit-link{
		}
		.post-edit-link:before{
			content: "\f464";
			font-family: "dashicons";
			vertical-align: top;
			margin-right: 5px;
			margin-right: 0.5rem;
			-webkit-font-smoothing: antialiased;
		}
		.post-edit-link:after{
			content:".";display:block;height:0;clear:both;visibility:hidden;
		}
		.entry-meta{
		}
			.entry-meta .entry-terms{
				display: block;
			}
			.entry-meta .entry-terms:before{
				content: "\f501";
				font-family: "dashicons";
				vertical-align: top;
				color: #ccc;
				margin-right: 5px;
				margin-right: 0.5rem;
				-webkit-font-smoothing: antialiased;
			}
			.entry-meta .entry-terms.category:before{
				content: "\f318";
			}
			.entry-meta .entry-terms.post_tag:before{
				content: "\f323";
			}
				.entry-meta .entry-terms a{
				}
				.entry-meta .term-name{
					display: none;
				}


/* Clear */
.singular .entry-header:after,
.singular .entry-content:after,
.singular .entry-footer:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}


/* === #11 - LOOP NAV === */
.loop-nav{
	margin: 20px;
	margin: 2rem;
	padding: 10px;
	padding: 1rem;
	border: 1px solid #ccc;
	background: #fff;
}
.loop-nav:before,
.loop-nav:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.loop-nav .screen-reader-text{
	}
	.loop-nav .prev{
		padding-left: 30px;
		padding-left: 3rem;
		width: 45%;
		float: left;
		text-align: left;
		position: relative;
	}
	.loop-nav .next{
		padding-right: 30px;
		padding-right: 3rem;
		width: 45%;
		float: right;
		text-align: right;
		position: relative;
	}
		.loop-nav .prev a:before{
			content: "\f340";
			font-family: "dashicons";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			position: absolute;
			top: 0;
			left: 0;
		}
		.loop-nav .next a:after{
			content: "\f344";
			font-family: "dashicons";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			position: absolute;
			top: 0;
			right: 0;
		}

/* === #12 - COMMENTS === */
#comments-template{
	padding: 20px;
	padding: 2rem;
}
	#comments{
	}
	.comments-header{
	}
	.comments-header:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		.comments-nav{
			float: right;
		}
			.comments-nav a{
			}
				.comments-nav .prev-comments{
				}
				.comments-nav .prev-comments:before{
					content: "\f340";
					font-family: "dashicons";
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
					margin-right: 10px;
					margin-right: 1rem;
				}
				.comments-nav .next-comments{
				}
				.comments-nav .next-comments:after{
					content: "\f344";
					font-family: "dashicons";
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
					margin-left: 10px;
					margin-left: 1rem;
				}
				.comments-nav .prev-comments .screen-reader-text,
				.comments-nav .next-comments .screen-reader-text{
				}
			.comments-nav .page-numbers{
			}
		#comments-number{
			font-size: 1.2em;
			font-weight: 600;
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ccc;
		}
	.comment-list{
		list-style: none;
		margin: 0;
	}
		.comment-list .children{
			list-style: none;
			margin: 0 0 0 10px;
			margin: 0 0 0 1rem;
		}
		/* Comment */
		.comment{
		}
		.comment.bypostauthor{
		}
			.comment-wrap{
				border: 1px solid #ccc;
				padding: 10px;
				padding: 1rem;
				margin-bottom: 10px;
				margin-bottom: 1rem;
				background: #fff;
			}
			.comment-wrap:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				.comment-meta{
					margin-bottom: 10px;
					margin-bottom: 1rem;
					padding-bottom: 10px;
					padding-bottom: 1rem;
					border-bottom: 1px solid #ccc;
					color:#999;
				}
				.comment-meta:after{
					content:".";display:block;height:0;clear:both;visibility:hidden;
				}
					.comment-meta .avatar{
						float: left;
						margin-right: 10px;
						margin-right: 1rem;
						width: 45px;
						width: 4.5rem;
						height: 45px;
						height: 4.5rem;
					}
					.comment-author{
						margin-bottom: 10px;
						margin-bottom: 1rem;
						color:#444;
						font-style: normal;
						font-weight: 700;
					}
					.comment-published{
					}
					.comment-permalink{
					}
					.comment-edit-link{
					}
					.comment-edit-link:after{
						content: "\f464";
						font-family: "dashicons";
						vertical-align: top;
						-webkit-font-smoothing: antialiased;
					}
				.comment-content{
				}
					.comment-content p{
						margin-bottom: 10px;
						margin-bottom: 1rem;
					}
				.comment-reply-link{
					float: right;
					padding: 0 5px;
					padding: 0 0.5rem;
				}
		/* Pingback */
		.pingback{
			margin-bottom: 10px;
			margin-bottom: 1rem;
			padding: 10px;
			padding: 1rem;
			border: 1px solid #ccc;
		}
			.pingback .comment-meta{
				border: none;
				padding: 0;
				margin: 0;
			}
				.pingback .comment-author{
					font-weight: 400;
				}
					.pingback .comment-author a{
						color: #444;
					}
					.pingback .comment-author a:hover,
					.pingback .comment-author a:focus{
						color: #21759B;
					}
				.pingback .comment-published{
					color: #444;
				}
				.pingback .comment-permalink{
				}
				.pingback .comment-edit-link{
				}
		
	#respond{
		margin-bottom: 10px;
		margin-bottom: 1rem;
		padding: 10px;
		padding: 1rem;
		border: 1px solid #ccc;
		background: #fff;
	}
	#respond:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
	.comment-list #respond{
		margin-left: 10px;
		margin-left: 1rem;
	}
		#reply-title{
			font-size: 1.2em;
			font-weight: 600;
			margin-bottom: 10px;
			margin-bottom: 1rem;
			padding-bottom: 10px;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ccc;
		}
			#reply-title small,
			#cancel-comment-reply-link{
				float: right;
				font-weight: 400;
			}
		#commentform{
		}
			#commentform p{
				margin-bottom: 0;
			}
			#commentform .required{
				color: #ff0000;
			}
			#commentform label{
			}
			#commentform .logged-in-as{
			}
			#commentform .comment-notes{
			}
			/* Form input */
			#commentform .comment-form-author{
				width: 30%;
				margin-right: 5%;
				float: left;
			}
				#commentform #author{
				}
			#commentform .comment-form-email{
				width: 30%;
				margin-right: 5%;
				float: left;
			}
				#commentform #email{
				}
			#commentform .comment-form-url{
				width: 30%;
				float: left;
			}
			#commentform .comment-form-url:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				#commentform #url{
				}
			#commentform .comment-form-comment{
				float: none;
				width: 100%;
				clear: both;
			}
			#respond .comment-form-comment:before,
			#respond .comment-form-comment:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				#commentform #comment{
				}
			#commentform .form-allowed-tags{
			}
				#commentform .form-allowed-tags code{
					display: block;
					padding: 10px;
					padding: 1rem;
				}
			#commentform .form-submit{
			}
				#commentform #submit{
					margin-bottom: 0;
					margin-top: 10px;
					margin-top: 1rem;
					float: right
				}
/* Closed Comments */
.comments-closed{
	background: #eee;
	padding: 20px;
	padding: 2rem;
	margin-bottom: 30px;
	margin-bottom: 3rem;
}
.comments-closed.pings-open{
}


/* === #13 - LOOP PAGINATION === */
.page-navigation{
	display: block;
	background: #000;
	width: 100%;
	z-index: 100;
}
.page-navigation:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.page-nav-item{
	display: block;
	width: 25%;
	float: left;
	color: #666;
	font-size: 20px;
	font-size: 2rem;
}
.page-nav-1{

}
.page-nav-prev{

}
.page-nav-link > a,
.page-nav-link > span{
	display: block;
	width: 100%;
	padding: 10px;
	padding: 1rem;
	text-align: center;
}
.page-nav-link > a:hover,
.page-nav-link > span:hover,
.page-nav-link > a:focus,
.page-nav-link > span:focus{
	background: #222;
}
.page-nav-link > a:hover,
.page-nav-link > a:focus{
	background: #222;
	color: #21759B;
}
.previous-posts-link > a:before,
.previous-posts-link > span:before{
	content: "\f340";
	font-family: "dashicons";
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}
.next-posts-link > a:before,
.next-posts-link > span:before{
	content: "\f344";
	font-family: "dashicons";
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}
.page-nav-comments-link > .comments-link:before{
	color: #21759B;
}
.entry.protected .page-nav-comments-link{
	display: none;
}
.page-nav-comments-link > .comments-link:before{
	color: #21759B;
}
.page-nav-comments-link > .comments-link:hover:before{
	color: #21759B;
}
.page-nav-next{
}
/* Width */
body.plural .page-nav-prev,
body.plural .page-nav-next,
body.singular .page-nav-comment{
	width: 50%;
}


/* === SIDEBAR === */

/* === Sidebar Toggle === */
#sidebar-toggle {
	float: right;
}
#sidebar-toggle a{
	display: block;
	width: 25px;
	width: 2.5rem;
	height: 25px;
	height: 2.5rem;
	float: right;
}
#sidebar-toggle a:after{
	content: "\f333";
	font-family: "dashicons";
	font-size: 25px;
	font-size: 2.5rem;
	vertical-align: top;
	color: #fff;
	border: none;
	text-shadow:
		-1px -1px 0 #2B2B2B,
		1px -1px 0 #2B2B2B,
		-1px 1px 0 #2B2B2B,
		1px 1px 0 #2B2B2B;
	-webkit-font-smoothing: antialiased;
}
#sidebar-toggle a:hover:after{
	opacity: 0.8;
}

#sidebar-primary-wrap {
	background: transparent;
	transition: all 0.4s ease-in-out 0s;
}
#sidebar-primary{
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
	top: 0;
	bottom: 0;
	right: 0;
	width: 336px;
	max-width: 100%;
	margin-right: -336px;
	transition: all 0.4s ease-in-out 0s;
	z-index: 99999;
}
/* turn off the lights! */
body.sidebar-toggle-active #sidebar-primary-wrap {
	width: 100%;
	position: fixed;
	background: rgba(0,0,0,0.5);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: all 0.4s ease-in-out 0s;
}
/* Open  */
body.sidebar-toggle-active #sidebar-primary{
	margin-right: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition: all 0.4s ease-in-out 0s;
}

/* === #14 - WIDGETS === */
.widget{
	padding: 20px;
	padding: 2rem;
	background: #444;
	color: #fff;
}
.widget a{
	color: #fff;
}
.widget button,
.widget input,
.widget select,
.widget textarea{
	color: #444;
	background: #fff;
}
/* Sidebar Fix */
.widget ul ul ul ul ul ul{
	margin-left: 0;
}
	.widget-title{
		font-size: 25px;
		font-size: 2.5rem;
		line-height: 1;
		padding: 10px 20px;
		padding: 1rem 2rem;
		padding-bottom: 12px;
		padding-bottom: 1.2rem;
		margin-left: -20px;
		margin-left: -2rem;
		margin-top: -20px;
		margin-top: -2rem;
		margin-right: -20px;
		margin-right: -2rem;
		line-height: 1;
		background: #000;
		color: #fff;
	}
/* Calendar widget */
#wp-calendar,
#wp-calendar th,
#wp-calendar tr,
#wp-calendar td{
	text-align: center;
}
/* one level list */
.widget_recent_entries ul,
.widget_archive ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul{
	list-style: none;
	margin-left: 0;
	padding-top: 10px;
	padding-top: 1rem;
	border-top: 1px solid #ccc;
}
.widget_recent_entries ul li,
.widget_archive ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_rss ul li{
	display: block;
	margin-bottom: 10px;
	margin-bottom: 1rem;
	padding-bottom: 10px;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
}
.widget_recent_entries ul li:after,
.widget_archive ul li:after,
.widget_meta ul li:after,
.widget_recent_comments ul li:after,
.widget_rss ul li:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
/* Widget Recent Post + Widget RSS date */
.widget_recent_entries .post-date,
.widget_rss .rss-date{
	color: #6A6A6A;
	display: block;
}
/* Widget RSS */
.widget_rss .widget-title .rsswidget:first-child{
	display: none;
}
.widget_rss .widget-title .rsswidget{
	color: #fff;
}
.widget_rss cite{
	float: right;
}
/* Widget Search */
.widget_search .screen-reader-text{
}
.widget_search .search-field{
	text-align: center;
}
.widget_search .search-submit{
	display: none;
}
.widget_search .search-submit:hover,
.widget_search .search-submit:focus{
	background: #333;
	border: none;
}

/* === #15 - FOOTER === */
#footer{
	padding: 20px;
	padding: 2rem;
	border-top: 1px solid #ccc;
	width: 100%;
	clear: both;
}
	#footer p{
		margin-bottom: 0;
	}
	/* Footer Menu */
	span#footer-links a:before{
		content: " | ";
		color: #ccc;
	}
